<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#newUserName").blur(function () {
                $("#userNameTip").text("")
                var newName = $(this).val().trim()
                $(this).val(newName)
                if(newName.trim()==""){
                    $("#userNameTip").text("用户名不能为空")
                    $("#userNameTip").css("color", "red")
                    $("#userNameTip").attr("useable", "false")
                    return
                }else{
                    var newName = $("#newUserName").val().trim()
                    console.log(newName)
                    console.log("newName----" + newName)
                    $.ajax({
                        url: '/checkUserName/' + newName,
                        type: 'get',
                        success: function(data){
                            console.log(data)
                            if(data.data==false){
                                $("#userNameTip").text("用户名已存在")
                                $("#userNameTip").css("color", "red")
                                $("#userNameTip").attr("useable", "false")
                            }else if(data.data==true){
                                $("#userNameTip").text("用户名可以使用")
                                $("#userNameTip").css("color", "green")
                                $("#userNameTip").attr("useable", "true")
                            }
                        }
                    })
                }
            })

            $("#commitUserName").click(function(){
                console.log($("#userNameTip").attr("useable"))
                if($("#userNameTip").attr("useable")==false){
                    return false;
                }else{
                    var newUserName = $("#newUserName").val().trim()
                    $.ajax({
                        url: '/user/userName/change',
                        type: 'post',
                        data: {
                            'userName': newUserName
                        },
                        success: function(data){
                            if(data.code==0){
                                alert("修改成功")
                                $("#userName").text(newUserName);
                                return;
                            }else{
                                if(data.hint)
                                    alert(data.hint)
                                return false;
                            }
                        }
                    })
                    return true;
                }
            })

            $("#uploadForm").ajaxForm(function(data){
                console.log(data)
                var imgPath = data.data.imgPath
                var targetDiv = $("#imgPlace")
                targetDiv.empty();
                targetDiv.append('<img src="'+ imgPath+'" style="height:100%" picName="'+ data.data.imgName+'"/>');
            });

            $("#userPicChangeBtn").click(function(){
                var src = $(this).parent().parent().find("#imgPlace > img").attr("src")
                // alert(src)
                if(src){
                    $.ajax({
                        url: '/user/pic/change',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            'picPath': src
                        },
                        success: function(data){
                            console.log(data)
                            if(data.code==0) {
                                $("#userImg").attr("src", src)
                                $("#navUserPic").attr("src", src)
                                alert("修改成功")
                                return true;
                            }
                            else{
                                if(data.hint){
                                    alert(data.hint)
                                }
                                return false;
                            }
                        }
                    })
                }else{
                    alert("未提交图片")
                    return false
                }
                return true;
            })

            $("#passwordChangeBtn").click(function(){
                var passwordNode = $("#password")
                var newPasswordNode = $("#newPassword")
                var newPasswordNode2 = $("#newPassword2")
                var password = $.trim($("#password").val())
                var newPassword = $.trim($("#newPassword").val())
                var newPassword2 = $.trim($("#newPassword2").val())
                $(passwordNode).val(password)
                $(newPasswordNode).val(newPassword)
                $(newPasswordNode2).val(newPassword2)
                $("#changPasswordTip1").text("")
                $("#changPasswordTip2").text("")
                $("#changPasswordTip3").text("")
                var flag = true;
                if(password=="") {
                    $("#changPasswordTip1").text("密码不能为空")
                    flag = false
                }
                if(newPassword=="") {
                    $("#changPasswordTip2").text("新密码不能为空")
                    flag = false
                }
                if(newPassword2=="") {
                    $("#changPasswordTip3").text("确认密码不能为空")
                    flag = false
                }
                else if(newPassword!=newPassword2){
                    $("#changPasswordTip3").text("前后密码不一致")
                    flag = false
                }
                if(flag==false)
                    return false;
                var closeBtn = $("#passwordChangeClose");
                $.ajax({
                    url: '/user/change/password',
                    type: 'post',
                    data:{
                        'password': password,
                        'newPassword': newPassword
                    },
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            alert("修改成功")

                            $(closeBtn).click()
                            $(passwordNode).val("")
                            $(newPasswordNode).val("")
                            $(newPasswordNode2).val("")
                            // closeBtn.click

                            return;
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                            return false;
                        }
                    }
                })
                return false;
            })

            $("#logoutNode").click(function(){
                $.ajax({
                    url: '/user/logout',
                    type: 'get',
                    success: function(data){
                        if(data.code==0){
                            alert("退出登录成功")
                            $("#userNav").empty();
                            $("#userNav").append('<li ><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>\n' +
                                '<li ><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>');
                        }else{
                            alert("请稍后重试")
                        }
                        return false;
                    },
                    error: function(){
                        alert("请稍后重试")
                        return false;
                    }
                })
                return false;
            })


        })
    </script>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-10 col-md-10">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">网盘</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="/toIndex" target="_blank" style="color: #2e6da4">网盘首页</a></li>
                            <li><a href="/toRecycle" target="_blank">回收站</a></li>
                            <li><a href="/toShare" target="_blank">我的分享</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right" id="userNav">
                            <li th:if="${session.user!=null}" id="userCenter">
                                <div>
                                    <div class="dropdown">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <!--<img width="45px" src="/img/da8e974dc_xs.jpg" class="img-thumbnail"/>-->
                                             <img width="45px" th:src="@{${session.user.userPic}}" class="img-thumbnail" id="navUserPic"/>

                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/toHomePage" target="_blank">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="logoutNode">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li th:if="${session.user==null}" id="register"><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li th:if="${session.user==null}" id="login"><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
            <div class="col-sm-2">
            </div>
            <div>
            <!--我的帐号部分-->
            <div id="account" class="col-sm-8" style="visibility: visible; border-left: 1px solid #d5d5d5;">
                <table class="table" th:if="${session.user!=null}">
                    <tr>
                        <td>帐号名</td>
                        <td th:text="${session.user.userName}" id="userName">Madao</td>
                        <td><a href="#" data-toggle="modal" data-target="#userNameModal">修改</a></td>
                        <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="userNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="userNameModalLabel">修改用户名</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" id="newUserName" placeholder="请输入新用户名"/>
                                        <br/>
                                        <div style="color: red" useable="false" id="userNameTip"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="commitUserName">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                    </tr>
                    <tr>
                        <td>头像</td>
                        <td><img id="userImg" width="85px" th:src="@{${session.user.userPic}}"></td>
                        <td><a href="#" data-toggle="modal" data-target="#userPicModel">修改</a></td>
                        <div class="modal fade" id="userPicModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div style="border-bottom: 2px solid lightgray" >
                                            <div style="padding: 10px">
                                                <div id="imgPlace" style="width: 100%; height: 200px" >请选择图片</div>
                                                <form id="uploadForm" action="/pic/upload" method="post"  enctype="multipart/form-data">
                                                    <input name="file" type="file" value="选择图片" />
                                                    <button class="btn btn-primary commitImg">提交</button>
                                                </form>
                                                </div>
                                            </div>
                                            <!--<div></div>-->
                                            <!--<div><input type="file"></div>-->
                                            <!--<button class="btn btn-default" id="commitUserPic">提交</button>-->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" >关闭</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="userPicChangeBtn" >提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                    </tr>
                    <tr>
                        <td>密码</td>
                        <td>已设置</td>
                        <td><a href="#" data-toggle="modal" data-target="#userPasswordModel">修改</a></td>
                        <div class="modal fade" id="userPasswordModel" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="changePasswordLabel">修改密码</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <input name="password" class="form-control" type="password" placeholder="请输入原密码" id="password">
                                            <span id="changPasswordTip1" style="color: red"></span><br/>
                                            <input name="password" class="form-control" type="password" placeholder="请输入新密码" id="newPassword">
                                            <span id="changPasswordTip2" style="color: red"></span><br/>
                                            <input name="password" class="form-control" type="password" placeholder="请再次输入新密码" id="newPassword2">
                                            <span id="changPasswordTip3" style="color: red"></span><br/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="passwordChangeClose">关闭</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="passwordChangeBtn" >提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </tr>
                    <tr>
                        <td>我的邮箱</td>
                        <td th:text="${session.user.email}">未绑定</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
